<?xml version="1.0"?>
<config>
    <modules>
        <Super_Payu>
            <version>0.1.0</version>
        </Super_Payu>
    </modules>
    <global>
        <models>
            <super_payu>
                <class>Super_Payu_Model</class>
            </super_payu>
        </models>
        <blocks>
            <super_payu>
                <class>Super_Payu_Block</class>
            </super_payu>
        </blocks>
        <helpers>
            <super_payu>
                <class>Super_Payu_Helper</class>
            </super_payu>
        </helpers>
        <events>
            <super_payu_payment_canceled>
                <observers>
                    <payu_status_canceled>
                        <class>super_payments/observer_statusChange</class>
                        <method>onPaymentCanceled</method>
                    </payu_status_canceled>
                </observers>
            </super_payu_payment_canceled>
            <super_payu_payment_rejected>
                <observers>
                    <payu_status_rejected>
                        <class>super_payments/observer_statusChange</class>
                        <method>onPaymentRejected</method>
                    </payu_status_rejected>
                </observers>
            </super_payu_payment_rejected>
            <super_payu_payment_completed>
                <observers>
                    <payu_status_completed>
                        <class>super_payments/observer_statusChange</class>
                        <method>onPaymentCompleted</method>
                    </payu_status_completed>
                </observers>
            </super_payu_payment_completed>
            <super_payu_payment_status_change>
                <observers>
                    <payu_status_change>
                        <class>super_payments/observer_statusChange</class>
                        <method>onPaymentStatusChange</method>
                    </payu_status_change>
                </observers>
            </super_payu_payment_status_change>
        </events>
    </global>

    <default>
        <payment>
            <super_payu>
                <active>1</active>
                <sandbox>1</sandbox>
                <order_status>pending_payment</order_status>
                <title>Super Payu</title>
                <model>super_payu/payment_standard</model>
            </super_payu>
        </payment>
    </default>

    <frontend>
        <routers>
            <super_payu>
                <use>standard</use>
                <args>
                    <module>Super_Payu</module>
                    <frontName>superpayu</frontName>
                </args>
            </super_payu>
        </routers>
    </frontend>
</config>